<ul>
    <li><a routerLink="/home" href="/home" data-text="Home">Home</a></li>
    <li><a routerLink="/about" href="/about" data-text="About">About</a></li>
    <li><a routerLink="/playlists" href="/playlists" data-text="Playlists">Playlists</a></li>
    <li  *ngIf="!isAuthenticated" class="auth"><a routerLink="/login" href="/login" data-text="Login">Login</a></li>
    <li *ngIf="!isAuthenticated" class="auth"><a routerLink="/register" href="/register" data-text="Register">Register</a></li>
    <li (click)="onLogout()" class="auth"><a routerLink="/logout" href="/logout" data-text="Logout">Logout</a></li>
</ul>